
<div class="container">

<a href="/">Home</a>

<h1 class='very-big'>Clients</h1>


<ul>
  <%@clients.each do |client|%>
    <div class="jumbotron">
      <h1><a href="/client/<%=client.id()%>"><%= client.name %></a></h1>
    </div>
  <%end%>
</ul>

<div class="well">
  <h2>Add a new client</h2>
  <form class="form" action="/clients" method="post">
    <div class="form-group">
      <label for="name">Name
        <input type="text" name="name" value="">
      </label>
    </div>
    <div class="form-group">
      <label for="phone">phone
        <input type="text" name="phone" value="">
      </label>
    </div>
    <select class="" name="stylist_id">
      <% @stylists.each do |stylist| %>
      <option value=" <%= stylist.id() %>">  <%=stylist.name %> </option>
      <%end%>
    </select>

    <button type="submit" name="button">Add Client</button>
  </form>
</div>

</div>
